@model H_F_M_APPMODEL.Models.Spends_.Spends

@{
    ViewData["Title"] = "Create";
}



<div class="row bg-light">


    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label  class="control-label">Description</label>
                <textarea  placeholder="Description" name="Spend_Desc" asp-for="Spend_Desc" class="form-control " required ></textarea>
                <span asp-validation-for="Spend_Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Payment Method</label>
                <select  asp-for="P_M_Id"  class="form-control" asp-items="ViewBag.P_List"  >
                    <option value="0">Select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value"  class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input type="datetime-local" value="@DateTime.Now.ToLocalTime().ToString("g")" asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

