@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model H_F_M_APPMODEL.Models.Users.User;
@{
    ViewBag.Title = "Login";

}

<div class="container" style="max-width:550px;">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body" style="max-width:380px;">
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {


                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="UserName" type="text" name="userName" id="userName" class="form-control" required placeholder="username">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="PassWord" type="password" name="password" id="password" required class="form-control" placeholder="password">
                            <span asp-validation-for="PassWord" class="text-danger"></span>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox" id="remember">Remember Me
                        </div>
                        <div class="form-group">
                            <input id="submit" type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                }
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
@{


    <script type="text/javascript">

                var fail = "@TempData["erro"]";

                vex.defaultOptions.className = 'vex-theme-os';
                if (fail === "fail" && document.getElementById("userName").innerText != null) {
                    vex.dialog.alert("User Or passWord incorrect!")
                }
                $(document.body).on("keydown", this,
                function (event) {
                    if (event.keyCode == 116) {
                          @{  
                              TempData["erro"] = null;
                             }
                       
                    }
            });
    </script>

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    vex.defaultOptions.className = 'vex-theme-os';

    $("#submit").click(function (e) {
        //val1 = $("#userName").val();
        //val2 = $("#password").val();

        //$.ajax({
        // type: "POST",
        // data: { user: val1, password: val2 },
        // url: "",
        // dataType: "text",
        // success: function (msg) {
        //    alert("dw");
        /* if (msg == "true")
         {
             alert("dw");
             document.getElementById("us").click();
         }
         else
         {
             window.location("https://localhost:44340/Index");
         }*/
        //console.log(msg);
        //  },
        //  error: function (req, status, error) {
        //console.log(msg);
        //  alert(msg);
        // }
        //});
    });

    /* vex.dialog.confirm({
         message: 'Deseja Realmente remover este produto?',
         callback: function (resultado) {
             if (resultado) {

             }
             else {

             }
         }
     });*/

</script>